<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!--users_controller#indexで定義した@usersが渡ってくる-->
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag user.get_profile_image(100, 100)%>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <!--(|user|で受けた"user"の"id"を付与してあげないとURLの":id"が判別できなくてエラーになる…)-->
        <%= link_to "Show", user_path(user.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>