<h1>User info</h1>
<!--user_controller#showで定義した@userに対してUserモデルのget_profile_imageメソッドを使用-->
<%= image_tag @user.get_profile_image(100, 100) %>
<table>
  <tbody>
    <tr>
      <td>name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= @user.introduction %></td>
    </tr>
  </tbody>
</table>