<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <!--<image_tag>-->
      </td>
      <td>
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
      </td>
      <td>
        <%= @book.body %>
      </td>
    </tr>
  </tbody>
</table>